/* General Styling */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 1;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 100%; /* Make it more flexible */
    max-width: 600px; /* Max width to ensure it doesn't grow too large */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}

.modal-overlay .modal-content {
    background: #fff;
    opacity: 1;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-close-button {
    width: 30px;
    background: transparent;
    cursor: pointer;
    color: #333;
}

.modal-close-button img {
    width: 20px;
    height: 20px;
}

.modal-close-button:hover {
    background: transparent;
}

.modal-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.modal-tab {
    padding: 10px 20px;
    border: none;
    background: lightgray;
    cursor: pointer;
}

.modal-tab.active {
    background: var(--oxford-blue);
    color: white;
    font-weight: bold;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    display: block;
}

.dimensions {
    display: flex;
    gap: 15px;
    justify-content: space-between; /* Ensure equal spacing between the items */
    width: 100%; /* Ensure the dimensions container takes up the full width */
}

.dimensions label {
    width: 100%; /* Allow labels to take full width within each input container */
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom:10px;
}

/* Footer */
.modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.modal-add-button {
    padding: 10px 20px;
    background: var(--orange-web);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.modal-add-button:hover {
    background: rgb(189, 118, 60);
}
